*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    position: fixed;
    
}


.header ul a{
    text-decoration: none;
    padding: 1rem;
    color: #000;
    font-size: 1.5rem;
}

.header ul:first-of-type{
    display: flex;
    list-style: none;
}

.header ul:last-of-type{
    list-style: none;
    display: flex;
}

section{
    height: 100vh;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
}

.section h1{
    padding-top: 7rem;
    font-size: 3rem;
    padding-bottom: 1rem;
}
.section p{
    padding-bottom: 1rem;
    font-size: 1.50rem;
}

.anchor{
margin-top: 50vh;
   
}

.anchor a:nth-of-type(1){
    background-color: rgba(0,0, 0,0.5);
    padding: 1rem 1.75rem;
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
    border-radius: 20px;
    margin: 0 1rem;
}

.anchor a:nth-of-type(2){
    background-color: rgba(255,255,255,0.5);
    padding: 1rem ;
    text-decoration: none;
    font-size: 1.25rem;
    color: #000;
    border-radius: 20px;

}
.icon{
    margin-top: 1rem;
    width: 50px;
    animation: iconic 1s linear infinite alternate;
}

.sidemenu ul{
    position: absolute;
    top: 0;
    right:0;
    height: 100vh;
    width: 260px;
    flex-direction: column;
    background-color: #fff;
    transition: all 0.6s ease-in-out;
}

.sidemenu ul li{
    margin-top: 1.5rem;
    padding: 0.08rem 1rem;
}

.close{
    position: absolute;
    top: 0.50rem;
    right: 1rem;
}

@keyframes iconic{
    0%{transform: translateY(0);width: 50px;}
    25%{transform: translateY(25%);width: 50px;}
    50%{transform: translateY(50%);width: 50px;}
    100%{transform: translateY(0);width: 50px;}
}


@media all and (max-width:1000px){
    .header ul:nth-of-type(1){
        display: none;
    }  
    
}

@media all and (max-width:500px){       
    .anchor a{
        flex-direction: column;
    }
    .section h1{
        font-size: 2rem;
    }

    .section p{
        font-size: 1rem;
    }

    .anchor a{
        display: inline-block;
    }


}    

@media all and (max-width:320px){
    .sideli li:nth-of-type(1){
        display: none;
    }

    .sideli li:nth-of-type(2){
        display: none;
    }

    .sideli li:nth-of-type(3){
        margin-left: 5rem;
    }

    .secton p{
        font-size: 0.50rem;
    }

    .sidemenu{
        width: 400px;
    }
}

