*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    position: fixed;
    
}

.header img{
    width: 10%;
}

.header ul a{
    text-decoration: none;
    padding: 0.25rem;
    color: #000;
}

.header ul:first-of-type{
    display: flex;
    list-style: none;
}

.header ul:last-of-type{
    list-style: none;
    display: flex;
}

.section{
    height: 100vh;
    background-attachment: scroll;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}