*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    position: fixed;
    
}

.header img{
    width: 10%;
}

.header ul a{
    text-decoration: none;
    padding: 1rem;
    color: #000;
    font-size: 1.5rem;
}

.header ul:first-of-type{
    display: flex;
    list-style: none;
}

.header ul:last-of-type{
    list-style: none;
    display: flex;
}

section{
    height: 100vh;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

section img{
    width: 50%;
}

.section h1{
    padding-top: 7rem;
    font-size: 3rem;
    padding-bottom: 1rem;
}
.section p{
    padding-bottom: 1rem;
    font-size: 1.50rem;
}

.anchor a:nth-of-type(1){
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color:rgba(0,0,0,0.6);
    margin: 18rem 0rem;
    padding: 1rem 3.5rem;
    font-size: 1rem;
    border-radius: 30px;
}


.anchor a:nth-of-type(2){
    display: inline-block;
    text-decoration: none;
    color: #000;
    background-color:rgba(255,255,255,0.5);
    margin: 1rem 1rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    border-radius: 30px;
}

.sidemenu ul{
    position: absolute;
    top: 0;
    right:0;
    height: 100vh;
    width: 260px;
    flex-direction: column;
    background-color: #fff;
    transition: all 0.6s ease-in-out;
}

.sidemenu ul li{
    margin-top: 0.50rem;
    padding: 0.50rem 1rem;
}

.close{
    position: absolute;
    top: 0.50rem;
    right: 1rem;
}
.close:hover{
    transition: all 1s ease;
    transform: rotate(360deg);
}

